body
{
width:100%;
height:100%;
background-color:aqua;
}
header {
    background-color: #B4FF9F;
    border-bottom: 5px solid black;
}
.container {
    grid-template-areas: "M M M M M"
                         "A A A A A";
    column-gap:100px;
   
}
.article {




}

footer{
    background-color:#f9ffa4;

}
li {
    padding: 10px;
    text-align: center;
    border: solid 1px blue;
    display: inline-block;
    background-color: #FFD59E;
    list-style:none;
   
}
.OmOss{

}
a{
    text-decoration:none;
        color:inherit;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}